 /*폰트를 가져오는 것 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* 아이콘 가져오기 - 
xeicon사이트에서 //cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css 복붙 */
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body {
    font-family: 'Noto Sans KR', sans-serif; /*폰트를 적용시키는 것 */
}


.container {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.top_banner {
    padding: 25px 0;
    background: #f1f1f1;
}

.top_banner .container {       
    /* .container의 디스플레이 flex 효과를 사라지게함 */
    display: block;
}

.top_banner h2 {
    font-family: 'Nanum Myeongjo', serif; /*폰트를 적용시키는 것 */
    font-size: 30px;
    margin: 0 0 10px 0;
}

.top_banner p {
    font-size: 15px;
    font-weight: 300;
}

.top_banner a {
    padding: 0 15px 4px 15px;
    border: 1px solid #333;
    margin: 0 0 0 20px;
}

.top_banner i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #333;
    /* border-radius: 50%; */
    color: #f1f1f1;
    cursor: pointer;
}


/* 



반응형 작업 시작 05.12 




*/


@media (max-width:768px) {
    .container {
        width: auto;
        flex-direction: column;
        padding: 0 15px;
    }

    h2 {
        padding: 0 15px;
    }
    
    p {
        padding: 0 15px;
        line-height: 1.4;
    }
    .container h2 {
        padding: 0;
    }
    .container p {
        padding: 0;
    }

    .top_banner {
        position: absolute;
        top: 300px;
        left: 15px;
        right: 15px;
        /* 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
        padding: 25px 15px;
        background: #f1f1f1;
        z-index: 999;
    }
    
    .top_banner .container {       
        display: block;
    }
    
    .top_banner h2 {
        font-family: 'Nanum Myeongjo', serif; 
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    
    .top_banner p {
        font-size: 13px;
        line-height: 1.56;
        margin: 20px 0 0 0;
    }
    
    .top_banner a {
        padding: 0 15px 4px 15px;
        border: 1px solid #333;
        margin: 20px 0 0 0;
        display: block;
        width: 100px;
    }
    
    .top_banner i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background: #333;
        /* border-radius: 50%; */
        color: #f1f1f1;
        cursor: pointer;
    }
}


.header .gnb {
    line-height: 100px;   /* 패딩을 주면 나중에 귀찮아지므로... */

    
}

/* .header .gnb .container {
    justify-content: space-between;
    얘를 쓰면 정확도가 좀 떨어질 수 있어서 (레이아웃)
    아래의 2개 박스에 마진을 각각 줌.
} */
.header .gnb nav {
    margin: 0 0 0 auto;
}
.header .gnb form {
    margin: 0 0 0 50px;
}

.header .mbtn {
    display: none;
}

@media (max-width:768px) {
    .header h1 {  /*h1은 없어서 만들어줌. 로고 띄워주기 위해서*/
        padding: 0 15px;
    }

    .header .mbtn {
        display: block;
        position: fixed;
        top: 20px;
        right: 10px;
        line-height: 1;
        z-index: 1000;
        background: #ddd;
        border-radius: 5px;
    }
    
}




nav>ul {
    display: flex;
    /* gap: 40px; */
}
/*
nav>ul>li {
    padding: 0 20px; 
       gap 대신 사용하는 방법. ie 때문에. 옛날방식.
    단점 : 좌우 패딩값을 다 계산해서 레이아웃값 적용. 
}
*/

nav>ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px; /* 높이는 글자크기보다 좀 적게 */
    background: #ddd;
    margin: 0 20px;
}

#searchForm input[type='text'] {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding: 5px 0;
}

#searchForm button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;
}


@media (max-width:768px) {
    
    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;
        background: #fff;
        z-index: 1000;
        border-right: 1px solid #333 ;
        transition: 0.5s;
    }

    nav.on {
        left: 0;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
        line-height: 40px;
        padding: 10px 30px;
    }
    
    nav>ul>li {
        border-bottom: 1px solid #ddd;
    }

    nav>ul>li a {
        display: block;
    }

    nav>ul>li~li::before {
        display: none;
    }
    
    #searchForm {
        display: none;
    }
}


.main_visual figure {
    position: relative;
    height: 600px;
}

.main_visual .item01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}
.main_visual .item02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}
.main_visual .item03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.main_visual figure h3 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 20px 0;
    text-shadow: 0 0 2px #333; /* 1자리: 우, 2자리: 아래, 3자리:블러(흐리게)   */
}

.main_visual figure.item02 h3 {
    color: #333;
    text-shadow: 0 0 2px #fff;
}

.main_visual figure p {
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.main_visual figure.item02 p {
    color: #333;
}

.main_visual figure a {
    font-size: 13px;
    font-weight: 300;
    /* 
        display: block;
        width: 100px;  
    얘를 주면 글자수가 길어졌을 때 넘치게 되므로 inline-block과 패딩을 활용 */
    display: inline-block;
    text-align: center;
    border: 1px solid #fff;
    background: #333;
    padding: 5px 20px 8px 20px;
}


.main_visual figure h3 {    /* 슬라이드 전, 위치 */
    transform: translateY(100px);
    opacity: 0;
    /* transition: 0.5s;   보통 슬라이드 만들 때는 여기 트랜지션 붙이면 백에서 문제 생김.*/
}
.main_visual figure.on h3{  /* 슬라이드 직후 */
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;   /* 여기 트랜지션이 국룰(슬라이드 시) */
}

.main_visual figure p {  
    transform: translateY(100px);
    opacity: 0;
}
.main_visual figure.on p { 
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 0.5s;  
}

.main_visual figure a {  
    transform: translateY(100px);
    opacity: 0;
}
.main_visual figure.on a { 
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 1s;  
}

.main_visual .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%); 
}
.main_visual .slick-dots li {
    display: inline-block;
    width: 80px;
    height: 5px;
    background: #333;
    margin: 0 5px;
}

.main_visual .slick-dots li::after {   /* 위치 헷갈렸음. after가 붙어도 li 아래에 속하기 때문에. li를 벗어나서 시작하지 않음. */
    content: "";
    display: block;
    width: 0%;
    height: 100%;
    background: #f00;
}
.main_visual .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

.main_visual .slick-dots button {
    display: none;
}



@media (max-width:768px) {
    .main_visual figure {
        position: relative;
        height: calc(100vh - 100px);
    }
    
    .main_visual .item01 {
        background: url(../img/mainvisual01.jpg) no-repeat left center/cover;
    }
    .main_visual .item02 {
        background: url(../img/mainvisual02.jpg) no-repeat right center/cover;
    }
    .main_visual .item03 {
        background: url(../img/mainvisual03.jpg) no-repeat right center/cover;
    }
    
    .main_visual .container {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        transform: translate(0, -50%);
        color: #fff;
    }
    
    .main_visual figure h3 {
        font-size: 5.5vw;
        font-weight: 900;
        margin: 0 0 20px 0;
        text-shadow: 0 0 2px #333; /* 1자리: 우, 2자리: 아래, 3자리:블러(흐리게)   */
    }
    
    .main_visual figure.item02 h3 {
        color: #fff;
        text-shadow: 0 0 2px #333;
    }
    
    .main_visual figure p {
        font-size: 13px;
        font-weight: 300;
        margin: 0 0 20px 0;
        padding: 0 0;
    }
    
    .main_visual figure.item02 p {
        color: #fff;
    }
    
    .main_visual figure a {
        font-size: 13px;
        font-weight: 300;
        /* 
            display: block;
            width: 100px;  
        얘를 주면 글자수가 길어졌을 때 넘치게 되므로 inline-block과 패딩을 활용 */
        display: inline-block;
        text-align: center;
        border: 1px solid #fff;
        background: #333;
        padding: 5px 20px 8px 20px;
    }
    
    
    .main_visual figure h3 {    /* 슬라이드 전, 위치 */
        transform: translateY(100px);
        opacity: 0;
        /* transition: 0.5s;   보통 슬라이드 만들 때는 여기 트랜지션 붙이면 백에서 문제 생김.*/
    }
    .main_visual figure.on h3{  /* 슬라이드 직후 */
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s;   /* 여기 트랜지션이 국룰(슬라이드 시) */
    }
    
    .main_visual figure p {  
        transform: translateY(100px);
        opacity: 0;
    }
    .main_visual figure.on p { 
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s 0.5s;  
    }
    
    .main_visual figure a {  
        transform: translateY(100px);
        opacity: 0;
    }
    .main_visual figure.on a { 
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s 1s;  
    }
    
    .main_visual .slick-dots {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%); 
    }
    .main_visual .slick-dots li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #333;
        margin: 0 2px;
        border-radius: 50%;
        overflow: hidden;
    }
    
    .main_visual .slick-dots li::after {   /* 위치 헷갈렸음. after가 붙어도 li 아래에 속하기 때문에. li를 벗어나서 시작하지 않음. */
        content: "";
        display: block;
        width: 0%;
        height: 100%;
        background: #f00;
    }
    .main_visual .slick-dots li.slick-active::after {
        width: 100%;
        transition: 3s;
    }
    
    .main_visual .slick-dots button {
        display: none;
    }
}



/* 



개인 연습



.content01 {
    padding: 80px 0;
    text-align: center;
}

.content01 h2 {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
    letter-spacing: 0.5em;
}

.content01>p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 25px;
}

/* 
.content01 .container {
    gap: 30px;
}
.content01 figure .case {
    margin-bottom: 20px;
    overflow: hidden;
}
.content01 figure img{
    width: 100%;
    transition: 0.5s;
}
.content01 .case:hover img {
    transform: scale(1.5);
}

.content01 strong {
    display: block;
    margin-bottom: 20px;
}
.content01 a {
    display: inline-block;
    padding: 5px 30px 8px 30px;
    border: 1px solid #333;
}


*/




.basic {
    padding: 100px 0;
    text-align: center;
}

/* 옛날 방법 - float 사용
.dtainer {
    width: 1200px;
    margin: 0 auto;
}
.dtainer::after {
    content: "";
    display: block;
    clear: both;
}
.dtainer figure {
    float: left; 
     박스를 가로로 배치시킬 수 있음. 
    단점: 플롯을 주면 플랙스와 달리 떠있음. 그래서 아래쪽에 패딩을 줘서 떨어트린 공간이 없어짐. (무시하고 내려감) 
    -> 해결법 : <div style="clear:both"> 
        단점 : html에 계속 쓸 데 없는 태그가 늘어나게됨.
        -> 해결법 : after을 이용해 css에서 만들어주면 됨. = clear fix 라는 방법.
    
    width: 33.33333333%;
     플롯을 쓰면 피겨의 개수에 따라 와이드 값도 다 바꿔줘야 함. 
    padding: 0 15px; 
     이미지 사이 띄워주는 법 
}
.dtainer figure img {
    max-width: 100%;
} */

.basic .container {
    gap: 30px;
}
section h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0;
}
section p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.basic figure {
    flex: 1; /* 얘를 쓰면 그림이 늘어나도 계속 레이아웃 유지 */
}
.basic figure .inbox {
    overflow: hidden;
    border-radius: 75% 25% 50% 50% / 27% 29% 71% 73%;
    transition: 0.5s 0.5s;
    margin: 0 0 30px 0;
}
.basic figure:hover .inbox {
    border-radius: 10px;
}

.basic figure img {
    transition: 0.5s;
}

.basic figure:hover img {
    transform: scale(1.25);
}
.basic figure strong {
    display: block;
    margin: 0 0 20px 0;
}
.basic figure a {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 5px 20px 10px;
}

.fixed_bg {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/mainvisual01.jpg) no-repeat fixed center center/cover; /* cover는 이미지가 잘리든 말든 박스를 가득채워라, contain은 이미지 다 보여줘라 */
    /* background-attachment: fixed; 얘 자리가 리핏 뒤임(축약)*/
    filter: grayscale(1);
}
.fixed_bg span {
    vertical-align: middle; 
    /* 기본값대로 주면 아래쪽 라인에 붙어있음.
    여튼, 둘 다 middle을 줘야 한개만 마진 줘서 위아래 위치 이동 가능  */
}
.fixed_bg i {
    padding: 10px;
    background: #333;
    margin: 5px 0 0 20px;
    border-radius: 50%;
    vertical-align: middle;
}

@media (max-width:768px) {
    .fixed_bg {
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: url(../img/mainvisual01.jpg) no-repeat scroll center center/cover;
        filter: grayscale(1);
    }
    .fixed_bg span {
        vertical-align: middle; 
    }
    .fixed_bg i {
        padding: 10px;
        background: #333;
        margin: 5px 0 0 20px;
        border-radius: 50%;
        vertical-align: middle;
    }
}


.movie {
    padding: 100px 0;
}

.movie .container {
    gap: 50px;
}
.movie .container>* { /* 컨테이너 안의 모든(*) 자식(>)을 선택 */
    flex: 1;
}

.movie .container .dec {
    padding: 100px 0;
}

.movie video {
    max-width: 100%;
}

.movie .dec i {
    padding: 10px;
    background: #333;
    color: #fff;
    margin: 0 5px 0 0;
}


.utube {
    padding: 150px 0;
    text-align: center;
    color: #fff;
    filter: grayscale(1);
}

.utube i {
    padding: 20px;
    background: rgb(0, 0, 0, 0.5);
    margin: 0 2px ;
    font-size: 25px;
    cursor: pointer;
}



.product_list {
    position: relative;
    text-align: center;
    padding: 100px 0;
}

/* 

라벨 만들기 
- border 를 이용하면 삼각형을 만들 수 있음

*/

.product_list h2 {
    position: relative;
}

.product_list small {
    position: absolute;
    display: inline-block;
    border-top: 10px solid rgb(255, 0, 0, 0.5);
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 0, 0, 0.5);
    border-left: 40px solid rgb(255, 0, 0, 0.5); 
    font-weight: 500;
    font-size: 13px;
    top: -14px;
    left: 42%;
}
.product_list small span {
    position: absolute;
    top: -7px;
    left: -34px;
    color: #fff;
}



.product_list .product_slider {
    width: 1200px;  /* 좌우 패딩을 줘서 세로라인이 안 맞을 때 값 조정 */
    margin: 0 auto;
}
.product_list .product_slider figure {
    padding: 0 15px;
}
.product_list .product_slider .box {
    margin: 0 0 20px 0;
}


.product_list figure img {
    transition: 0.5s;
    padding: 20px 0;
}

.product_list figure.slick-center img {
    transform: scale(1.25);
}


.product_list i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    padding: 15px;
    color: #fff;
    font-size: 40px;
}
.product_list .s_left {
    margin: 0 0 0 -650px;
}
.product_list .s_right {
    margin: 0 0 0 650px;
}

.product_list .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0 0 0;
}

.product_list .slick-dots li {
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}
.product_list .slick-dots li.slick-active {
    background: #f00;
}
.product_list .slick-dots button {
    display: none;
}

@media (max-width:768px) {
    .product_list {
        position: relative;
        text-align: center;
        padding: 100px 0;
    }
    
    /* 
    
    라벨 만들기 
    - border 를 이용하면 삼각형을 만들 수 있음
    
    */
    
    .product_list h2 {
        position: relative;
    }
    
    
    .product_list small {
        position: absolute;
        display: inline-block;
        border-top: 10px solid rgb(255, 0, 0, 0.5);
        border-right: 10px solid transparent;
        border-bottom: 10px solid rgb(255, 0, 0, 0.5);
        border-left: 40px solid rgb(255, 0, 0, 0.5); 
        font-weight: 500;
        font-size: 13px;
        top: -14px;
        left: 170px;
    }
    .product_list small span {
        position: absolute;
        top: -7px;
        left: -34px;
        color: #fff;
    }
    
    
    
    .product_list .product_slider {
        width: auto;  /* 좌우 패딩을 줘서 세로라인이 안 맞을 때 값 조정 */
    }
    .product_list .product_slider figure {
        padding: 0 15px;
    }
    .product_list .product_slider .box {
        margin: 0 0 20px 0;
    }
    
    
    .product_list figure img {
        transition: 0.5s;
        padding: 20px 0;
    }
    
    .product_list figure.slick-center img {
        transform: scale(1.25);
    }
    
    
    .product_list i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0%, -50%);
        background: #333;
        padding: 15px;
        color: #fff;
        font-size: 40px;
    }
    .product_list .s_left {
        margin: 0 0 0 0;
        left: 15px;
    }
    .product_list .s_right {
        margin: 0 0 0 0;
        right: 15px;
        left: auto;
    }
    
    .product_list .slick-dots {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 20px 0 0 0;
    }
    
    .product_list .slick-dots li {
        width: 10px;
        height: 10px;
        background: #333;
        border-radius: 50%;
    }
    .product_list .slick-dots li.slick-active {
        background: #f00;
    }
    .product_list .slick-dots button {
        display: none;
    }
}







/*   탭메뉴 - 어려울 예정   */

.tab {
    padding: 100px 0;
    background: #f7f7f7;
}

.tab .container {
    gap: 40px;
}

.tab .tab_wrap {
    flex: 1;
}
.tab figure {
    flex: 1;
}

.tab_link {
    display: flex;
    border: 1px solid#ddd;
    text-align: center;
}
.tab_link>li {
    flex: 1;
    background: #333;
    color: #fff;
    padding: 8px 15px 12px;
    cursor: pointer;
}
.tab_link>li.on {
    background: #f00;
}
.tab_link>li~li {
    border-left: 1px solid #ddd;
}

.tab_content>li {
    display: none;
}
.tab_content>li.on {
    display: block;
}

.tab_content>li dd {
    display: flex;
    justify-content: space-between;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}
.tab_content>li dd strong {
    width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tab_content>li dd span::before {
    content: "[";
    padding: 0 10px 0 0;
}
.tab_content>li dd span::after {
    content: "]";
    padding: 0 0 0 10px;
}




.footer {
    background: #333;
    padding: 0 0 50px 0;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}

.footer .container {
    justify-content: space-between;
    line-height: 60px;
}

.footer .footer_top ul {
    display: flex;
}

.footer .footer_top ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
}

.footer hr {
    border: none;
    border-top: 1px solid #666;
    margin: 0;
    vertical-align: middle;
}

.footer .footer_top .sns {
    font-size: 0;  
    /* 인라인 블락 시 폰트사이즈로 인해 떨어지기 때문에 붙이기 위해서 */
}
.footer .footer_top i {
    padding: 10px;
    background: #111;
    font-size: 21px;
    margin: auto 2px;
    vertical-align: middle;
}

.footer #link {
    background: #111;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 15px;
    outline: none;

}

@media (max-width:768px) {
    
.footer {
    background: #333;
    padding: 0 0 50px 0;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}

.footer .container {
    align-items: center;
    justify-content: space-between;
    line-height: 1.6;
    padding: 30px 15px;
}

.footer .footer_top ul {
    display: block;
    text-align: center;
    padding: 0 0 20px;
}

.footer .footer_top ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .footer_top ul>li~li::before {
    content: "";
    display: none;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 10px;
}

.footer hr {
    border: none;
    border-top: 1px solid #666;
    margin: 0;
    vertical-align: middle;
}

.footer .footer_top .sns {
    font-size: 0;  
    /* 인라인 블락 시 폰트사이즈로 인해 떨어지기 때문에 붙이기 위해서 */
}
.footer .footer_top i {
    padding: 10px;
    background: #111;
    font-size: 21px;
    margin: auto 2px;
    vertical-align: middle;
}

.footer #link {
    background: #111;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 15px;
    outline: none;
}

.footer .left {
    text-align: center;
    margin: 0 0 20px 0;
}

}